@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background: linear-gradient(45deg, #b57edc, #fff);
  margin: 0;
}

body::before {
  content: '';
  opacity: 0.2;
  background: url(../images/bg-sprinkles.png);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

body::after {
  content: '';
  height: 292px;
  background: url(../images/bg-melt.png) center top;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

header,
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  padding: 20px;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  font-weight: 600;
}

h1 span:nth-child(1) {
  color: #d8dd23;
}

h1 span:nth-child(2) {
  color: #4e9379;
}

h1 span:nth-child(3) {
  color: #d8ddce;
}

h1 span:nth-child(4) {
  color: #390819;
}

h1 span:nth-child(5) {
  color: #242b01;
}

h1 span:nth-child(6) {
  color: #5e9c10;
}

h1 span:nth-child(7) {
  color: #02a82c;
}

h1 span:nth-child(8) {
  color: #2f735b;
}

h1 span:nth-child(9) {
  color: #c56e50;
}

#secret {
  text-decoration: none;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 60px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 6px #8634c0;
          box-shadow: 0 6px #8634c0;
  margin: 8px 5px;
  position: relative;
  cursor: pointer;
}

button:hover {
  top: 2px;
  -webkit-box-shadow: 0 4px #8634c0;
          box-shadow: 0 4px #8634c0;
}

#night,
#day {
  font-size: 35px;
  padding: 10px 0;
}

#night {
  background: gray;
  color: gold;
  -webkit-box-shadow: 0 6px #000;
          box-shadow: 0 6px #000;
}

#night:hover {
  -webkit-box-shadow: 0 4px #000;
          box-shadow: 0 4px #000;
}

#day {
  color: yellow;
  background: skyblue;
}

#disappear {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#disappear:hover {
  letter-spacing: 10px;
  color: rgba(0, 0, 0, 0);
}

#fonts:hover {
  font-family: Chalkduster;
}

#upside-down:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#rotate {
  -webkit-transition: 1s;
  transition: 1s;
}

#rotate:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#random {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#random:hover {
  color: #ff6766;
  background: #339a99;
}

#party {
  background-image: radial-gradient(#00013f, #01068d, #8f0cf5, #fe00ea, #ff0178);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#party:hover {
  background-image: radial-gradient(#ff0178, #fe00ea, #8f0cf5, #01068d, #00013f);
}

#party img {
  height: 40px;
}

.authors {
  margin: 20px 0 0;
}

.authors a {
  color: inherit;
}
/*# sourceMappingURL=popup.css.map */