// fonts
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');

// variables
$theme: #b57edc;
$theme-dark: darken($theme, 20%);

// general
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background: linear-gradient(45deg, $theme, #fff);
  margin: 0;

  &::before {
    content: '';
    opacity: 0.2;
    background: url(../images/bg-sprinkles.png);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &::after {
    content: '';
    height: 292px;
    background: url(../images/bg-melt.png) center top;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
  }
}

header,
section {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 20px;
}

// header
h1 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  font-weight: 600;

  span {
    @for $i from 1 through 9 {
      &:nth-child(#{$i}) {
        color: darken(rgb(random(255), random(255), random(255)), 10%);
      }
    }
  }
}

#secret {
  text-decoration: none;
}

// buttons
button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 60px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 6px $theme-dark;
  margin: 8px 5px;
  position: relative;
  cursor: pointer;

  &:hover {
    top: 2px;
    box-shadow: 0 4px $theme-dark;
  }
}

#night,
#day {
  font-size: 35px;
  padding: 10px 0;
}

#night {
  background: gray;
  color: gold;
  box-shadow: 0 6px #000;

  &:hover {
    box-shadow: 0 4px #000;
  }
}

#day {
  color: yellow;
  background: skyblue;
}

#disappear {
  transition: 0.4s;

  &:hover {
    letter-spacing: 10px;
    color: rgba(0, 0, 0, 0);
  }
}

#fonts {
  &:hover {
    font-family: Chalkduster;
  }
}

#upside-down {
  &:hover {
    transform: rotate(180deg);
  }
}

#rotate {
  transition: 1s;

  &:hover {
    transform: rotate(360deg);
  }
}

#random {
  transition: 0.4s;

  &:hover {
    color: #ff6766;
    background: #339a99;
  }
}

#party {
  background-image: radial-gradient(
    #00013f,
    #01068d,
    #8f0cf5,
    #fe00ea,
    #ff0178
  );
  transition: 0.4s;

  &:hover {
    background-image: radial-gradient(
      #ff0178,
      #fe00ea,
      #8f0cf5,
      #01068d,
      #00013f
    );
  }

  img {
    height: 40px;
  }
}

// authors
.authors {
  margin: 20px 0 0;

  a {
    color: inherit;
  }
}
