* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: #ccc;
  padding: 20px;
  margin: 0;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #ab3c3c;
}

p {
  color: #222;
}

.eye {
  color: #ab3c3c;
}

.eye {
  color: orangered;
}

.logo {
  width: 100px;
}

#secret {
  text-decoration: none;
}

section {
  display: flex;
  justify-content: space-evenly;
}

button {
  flex: 1 0 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 60px;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 6px grey;
  margin: 8px 5px;
  position: relative;
  cursor: pointer;

  &:hover {
    top: 2px;
    box-shadow: 0 4px grey;
  }
}

#night, #day {
  font-size: 35px;
  padding: 10px 0;
}

#night {
  background: gray;
  color: gold;
  box-shadow: 0 6px #000;

  &:hover {
    box-shadow: 0 4px #000;
  }
}

#day {
  color: #fff;
  background: skyblue;
}

#disappear {
  transition: 0.4s;

  &:hover {
    letter-spacing: 10px;
    color: rgba(0, 0, 0, 0);
  }
}

#fonts {
  &:hover {
    font-family: Chalkduster;
  }
}

#upside-down {
  &:hover {
    transform: rotate(180deg);
  }
}

#rotate {
  transition: 1s;

  &:hover {
    transform: rotate(360deg);
  }
}

#random {
  transition: 0.4s;

  &:hover {
    color: greenyellow;
    background: navy;
  }
}

#party {
  background: teal url(../img/party.png) no-repeat center;
  background-size: 36%;
  transition: 0.4s;

  &:hover {
    background-color: purple;
  }
}

#reset {
  flex: 1 0 310px;
}

.authors {
  margin: 20px 0 0;
}